 <div class="jumbotron" style="background-image:url(../../img/madeira.jpg)">
    <div class="container text-center">
      <img src="../../img/logo1.png" alt="Smiley face" height="150" width="260">
      <p>Instrumentos Musicais</p>
    </div>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Inicio</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Promoções</a></li>
          <li><a href="#">Cordas</a></li>
          <li><a href="#">Percussão</a></li>
          <li><a href="#">Teclas</a></li>
          <li><a href="#">Sopro</a></li>
          <li><a href="#">Acessórios</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Edição</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Minha Conta</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Carrinho</a></li>
        </ul>
      </div>
    </div>
  </nav>